body{

	padding: 32px;
	font-family: Verdana;
	font-size: 16px;
	line-height: 32px;
	color: floralwhite;
	background-color: cadetblue;
}

article{
	width: 100%;
	text-align: center;
}

.pg-dropdown:not(:last-child){ margin: 0 50px 0 0 ; }

.container{ display: inline-block; } 