body{

	padding: 32px;
	font-family: Verdana;
	font-size: 16px;
	line-height: 32px;
	color: #dbdbdb;
	background-color: teal;
}

*, *:before, *:after {

	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	
}


$width: 200px;
$initialHeight: 40px;
$openedHeight: 215px;
$sidePadding: 15px;
$borderColor: #484848;
$backgroundColor: #aaaaaa;
$arrowColor: #ebebeb;
$dropdownEasing: cubic-bezier(0.230, 1.000, 0.320, 1.000);

.pg-dropdown{

	position: relative;
	height: $initialHeight;
	width: $width;
	border:1px solid $borderColor;
	background-color: $backgroundColor;
	border-radius: 4px;
	cursor:pointer;
	overflow: hidden;
	transition: height 425ms $dropdownEasing;

	.arrow-wrapper{

		position: absolute;
		top:0;
		right:0;
		width: $initialHeight;
		height: $initialHeight;

		.arrow{

			$_size: 10px;

			position: absolute;
			top:0;
			left:0;
			width: 0;
			height: 0;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			border-left: ($_size / 2) solid transparent;
			border-right: ($_size / 2) solid transparent;
			border-top: $_size solid $arrowColor;			

		}

	}

	.current-selected-option{

		height: $initialHeight;
		padding: 0 $initialHeight 0 $sidePadding;
		line-height: 39px;

	}

	.dropdown-content{

		position:relative;
		display:block;
		margin: 0;
		padding: 6px 0;
		height: calc(100% - #{($initialHeight)});
		border-top: 1px solid #848484;
		
	}

	li{

		list-style:none;
		transition: all 300ms ease;
		padding: 0 $sidePadding;

		&:hover{

			background-color: #333;

		}

		&.selected *{

			opacity: 0.4;

		}

	}

	&.opened{

		height: $openedHeight;

	}

}